<div class="flex flex-col h-screen">
    <!-- Header -->
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
  
    <!-- Main Content Area -->
    <div class="flex flex-1 overflow-hidden">
      <!-- Sidebar -->
      <aside [ngClass]="{'w-64': isSidebarOpen, 'w-16': !isSidebarOpen}" class="bg-gray-900 shadow flex-shrink-0 transition-all duration-300">
        <div class="p-4 h-full">
          <ul class="space-y-2">
            <li *ngFor="let module of modules">
              <a [routerLink]="['/module', module.toLowerCase()]" class="block text-white hover:bg-gray-800 p-2 rounded">
                <i [class]="getModuleIcon(module)" class="mr-2"></i>
                <span *ngIf="isSidebarOpen">{{ module }}</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>
  
      <!-- Main Content -->
      <div class="flex-1 overflow-y-auto bg-gray-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>